/* This file can be used for global styles specific to the app component. */
.example {
    color: var(--background)
}

.navbar.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1030; /* Garantiza que flote sobre las tablas y cards */
}